* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.calendar {
  width: 50vw;
}

/* header */
.header {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.currentYearMonth {
  font-size: 1.6rem;
  font-weight: bold;
  color: deepskyblue;
}

.header button {
  border: 2px solid transparent;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0 10px;
  transition: all 0.3s;
  user-select: none;
}

.header button:hover {
  border: 2px solid #787878;
}

/* days */
.days {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 10px 0;
}

/* dates */
.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
}

.date {
  text-align: center;
  padding: 20px 0;
  font-size: 1.6rem;
  transition: all 0.3s;
  border: 3px solid transparent;
  color: rgba(0, 0, 0, 0.36);
  cursor: pointer;
  background-color: rgba(166, 233, 255, 0.38);
}

.date.currentMonth {
  color: #000;
}

.date:hover {
  border-color: #787878;
}

.date.selected {
  border-color: #00b7ff;
}